body, html
{
height: 100%;
margin: 0;
padding: none;
/*background-image: linear-gradient(180deg, white, blue);
opacity: 0.8;*/

}
.bg
{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 255, 0.3);
   
}
.header
{
    height: 100px;
    width: 100%;
}